body {
    background-color: rgb(23, 52, 71);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
} 

table {
  width: 100%;
  text-align: center;
  color: aliceblue;
  text-shadow: black;
}
th, td {
  list-style-type: none;
  border: 1px solid;
  border-color: aliceblue;
}
